# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                                            @chibicode
pages/docs/v2/introduction.mdx               @joecohens @paulogdm @chibicode
pages/docs/v2/build-step.mdx                 @leo @AndyBitz @TooTallNate @chibicode
pages/docs/v2/custom-domains.mdx             @anatrajkovska @javivelasco @mglagola @joecohens @chibicode
pages/docs/v2/serverless-functions/          @leo @AndyBitz @TooTallNate @chibicode
pages/docs/v2/edge-network/                  @juancampa @hharnisc @dav-is @joecohens @chibicode
pages/docs/v2/platform/                      @leo @styfle @joecohens @chibicode
pages/docs/v2/git-integrations/              @arunoda @chibicode
pages/docs/configuration                     @leo @styfle @AndyBitz @joecohens @chibicode
pages/docs/v2/advanced/deploy-hooks.mdx      @anatrajkovska @javivelasco @mglagola @joecohens @chibicode
pages/docs/v2/advanced/builders.mdx          @leo @AndyBitz @styfle @joecohens @chibicode
pages/docs/api/                              @anatrajkovska @arunoda @javivelasco @mglagola @chibicode
pages/docs/integrations/                     @arunoda @chibicode
pages/docs/error/                            @juancampa @dav-is @joecohens @chibicode
pages/guides/                                @timothyis @msweeneydev @coetry @chibicode
