# build output
.next
out
dist
lib/data/now-examples-docs.json
pages/examples/*

# dependencies
node_modules
deploy-server/node_modules
package-lock.json
yarn.lock

# logs
*.log

# other
.DS_Store
.idea
.vscode
