.footer {
  background: var(--accents-1);
  left: 0;
  right: 0;
  position: absolute;
  border-top: 1px solid var(--accents-2);
}

.footer.light {
  background: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--geist-gap) var(--geist-gap) var(--geist-gap-double);
  width: var(--geist-page-width-with-margin);
  max-width: 100%;
  margin: auto;
}

.wrapper + .wrapper {
  padding-top: 0;
}

.logotype {
  display: flex;
  text-align: center;
  padding: var(--geist-gap-double) var(--geist-gap) 0;
  width: var(--geist-page-width-with-margin);
  max-width: 100%;
  margin: auto;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation:last-child {
  margin: 0;
}

.navigation li {
  white-space: nowrap;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.navigation li a,
.navigation li span {
  height: 20px;
  display: inline-block;
  overflow: auto;
}

.navigation li:last-child {
  border-right: 0;
  margin-right: 0;
}

.navigation li:last-child a {
  margin-right: 0;
}

.social a,
.navigation a,
.navigation span {
  color: var(--accents-5);
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s ease;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: var(--geist-gap-double) var(--geist-gap) 0;
  width: var(--geist-page-width-with-margin);
  max-width: 100%;
  margin: auto;
}

.links-title {
  color: var(--geist-foreground);
  font-size: 14px;
}

.left {
  flex: 1;
  display: flex;
  align-self: flex-end;
  align-items: center;
}

.social a:hover,
.navigation a:hover,
.right a:hover {
  color: var(--geist-foreground);
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: var(--accents-5);
  font-size: 14px;
  flex-shrink: 0;
}

.copyright {
  color: var(--accents-5);
  font-size: 14px;
}

.right a {
  color: var(--accents-5);
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s ease;
}

.right .contact {
  vertical-align: middle;
}

.status {
  min-width: 223px;
  height: var(--geist-form-small-height);
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  vertical-align: middle;
}

.social li {
  display: inline-flex;
  margin-right: 15px;
  border-right: 1px solid var(--accents-2);
  padding-right: 15px;
}

.social li:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.social .github {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.social .bird {
  display: inline-block;
  padding-top: 1px;
}

@media screen and (max-width: 960px) {
  .logotype {
    justify-content: center;
  }

  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .status {
    order: 0;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .copyright {
    order: 2;
    flex-basis: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .contact {
    order: 1;
    margin-left: 10px;
  }

  .left {
    flex-direction: column;
  }

  .right {
    flex-direction: column;
    text-align: center;
    line-height: 22px;
  }

  .links {
    display: block;
    padding: 30px;
  }

  .navigation {
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--accents-2);
  }

  .left {
    justify-content: center;
  }
}
